.wrapper
    width: 95%

.logoPart
    >img
        width: 50%

.mainMenu
    font-size: 0.8em
    padding: 0em

.menuButton 
    width: 14em

.portfolio 
    &__block
        width: 50%

.myApproach
    &__textBlock 
        margin-left: 0%

.sketches 
    &__block
        width: 25%
        >p
            // text-align: center
            display: none
        // >img
        //     padding: 5px
        //     height: 300px
        //     object-fit: cover

.contacts
    &__textBlock
        // display: block 
        width: 300px
        margin-left: 10%
        // border-left: none
        // padding-left: 0px
        // padding-top: 50px
        // padding-bottom: 50px
        // margin-top: 75px
        // margin-bottom: 75px
   

// .button__choose 
//     &:last-child
//         border-right: 0

// footer
//     margin-bottom: 30px
//     text-align: center
//     >img
//         padding-top: 50px
//         width: 70px

// .footer
//     &__line
//         border-bottom: 1px solid #000000
//     &__text
      
     
        text-transform: uppercase

.projectExamples
    &__photo
        // width: calc(85vw - 200px)
        // position: relative
        left: 0px
        width: 100%
        >div
            // width: 100%
            height: 375px 
            // display: flex
            // justify-content: space-between
            // flex-direction: column
            // flex-wrap: wrap
            // >img
            //     padding: 5px
            //     height: 100%
            //     object-fit: cover
    &__bottomText
        margin-left: 0px

     

// .uno
//     >img
//         max-width: 100%

// .duo
//     >img
//         max-width: 50%

// .fullscreenCW
//     position: fixed
//     width: 100vw
//     height: 100vh
//     top: 0
//     left: 0
//     bottom: 0
//     right: 0
//     background: white

// .carousel, .carousel-inner, .carousel-item
//     width: 100%
//     height: 100%
//     max-height: 100%
//     max-width: 100%
//     overflow: hidden

//     &-item img
//         width: 100vw
//         height: 100vh
//         object-fit: contain
//         object-position: 50% 50%

// .carousel-control-prev:hover, .carousel-control-next:hover
//     background: rgba(255,255,255,0.4)!important

// .carousel-control-prev-icon, .carousel-control-next-icon
//     filter: brightness(0)

// .hidden
//     display: none!important

// //DELIT 
// .inWorkHidden
//     display: none
